# Created by .ignore support plugin (hsz.mobi)
### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.iml
*.xml
*。sum
local-conf.json
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/
algo
/lastupdate.tmp
/routers/commentsRouter_controllers.go
/swagger/

data/
data/*

.idea
.idea/*
docker\
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
local-conf.json
*.txtdocker_mysql_data
docker_mysql_data git add .
docker_mysql_data git add .
docker_mysql_data git add .
docker_mysql_data/ca-key.pem
   
docker_mysql_data git add .
docker_mysql_data git add .
docker_mysql_data git add .
docker_mysql_data git add .
docker_mysql_data git add .
